
.ui-block-a, .ui-block-b, .ui-block-c {
    background-color: lightgray;
    border: 1px solid black;
    height: 100px;
    font-weight: bold;
    text-align: center;
    padding: 30px;
}
#my_table{border : 1px solid black;}
#my_table tbody tr{border : 1px solid black;}
#my_table tbody tr td{border : 1px solid black;}
#my_table thead tr th{border : 1px solid black;background: gray}